{% extends 'base.html' %}
{% block body %}

<div class="body__panel">
    <div class="container">
        <div class="heading_wrap">
            <h2>Blogs</h2>
            <dif>
                <!-- <img src="/static/images/icon/cross.png" alt=""> -->
                {% if message %}
                        <h2 align="center" style="color:red;"><b>{{message}}</b></h1>
                {% endif %}
                {% if success_message %}
                        <h2 align="center" style="color:green;"><b>{{success_message}}</b></h1>
                {% endif %}
            </dif>



            <!-- <div class="searchprt">
                <input type="text" placeholder="Search..." />
            </div> -->


            <div >
                <!-- <select>
                    <option>10/02/2021 - 10/03/2021</option>
                    <option>10/02/2021 - 10/03/2021</option>
                    <option>10/02/2021 - 10/03/2021</option>
                </select> -->
            </div>


        </div>





        


        <div class="booking_listpart margin30">
            {% for blog in blogs %}
            <div class="listdetailList">

                <div class="acodian_sec set">
                    <a href="javascript:void(0)">
                        <div class="__delivery">
                            <div>
                                <span class="blu">{{blog.blog_title}}</span>
                                
                                <span class="d-block">
                                    <small>{{blog.blog_description}}</small>
                                </span>
                                <span class="d-block">
                                    <small><img src="/static/uploads/{{ blog.image_name}}" alt="" class="img-fluid"></small>
                                </span>
                                <span class="blu">
                                    <small>Created_at: {{blog.date_created}}</small>
                                </span>
                                <br>
                                
                                    {% if blog.is_active %}
                                        <span class="green">
                                            <small>Status: Active</small>
                                        </span>
                                    {% else %}
                                        <span class="red">
                                            <small>Status: Inactive</small>
                                        </span>
                                    {% endif %}
                                
                                
                            </div>

                            <!-- <button class="btn progressbut">Active</button> -->
                            <form action="/delete/blog/{{blog.id}}" method="GET">
                                <button class="btn redbtn">Delete</button>
                            </form>
                            <br>
                            <form action="/edit/blog/{{blog.id}}" method="GET">
                                <button class="btn bluebtn">Edit</button>
                            </form>
                            <br>
                            {% if blog.is_active %}
                                <form action="/deactivate/blog/{{blog.id}}" method="GET">
                                    <button class="btn btndeactive">Deactivate</button>
                                </form>
                            {% else %}
                                <form action="/activate/blog/{{blog.id}}" method="GET">
                                    <button class="btn btnactive">Activate</button>
                                </form>
                            {% endif %}
                        </form>

                        </div>
                        
                    </a>
                    
                    </div>
            </div>
            {% endfor %}
            </div>

        </div>


    </div>
</div>
</div>
</div>


<!-- JS Plugins -->
<script src="/static/js/jquery.min.js" type="text/javascript"></script>

<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- custom js -->
<script src="/static/js/main.js" type="text/javascript"></script>











	{% endblock body %}