{% extends 'base.html' %}
{% block body %}


			<div class="body__panel">
				<div class="container">
					<div class="heading_wrap">
						<h2>
							<!-- <a href="dashboard.html">
								<i class="fa fa-angle-left"></i>
							</a> -->

							Reset Password
                            
						</h2>
					</div>
					<div class="panel margin30">
						<div class="editbox">
							<h3>Reset Password</h3>
                            <dif>
                                <!-- <img src="/static/images/icon/cross.png" alt=""> -->
                                {% if message %}
                                        <h2 align="center" style="color:red;"><b>{{message}}</b></h1>
        
                                {% endif %}
                                </dif>
							<form action="/password/reset" method="POST">
        
							{% if all_eemployee %}
							<div class="box_mid">
								<div class="row">
									
									<div class="form_field full-width">
										<label>UserName</label>
										<input name='username' value={{all_eemployee.username}} class="form-control" type="text" required>
									</div>
                                    <div class="form_field full-width">
										<label>Last Password</label>
										<input name='last_password' id="password-field" class="form-control" type="password" required>
									</div>
									<div class="form_field full-width">
										<label>Password</label>
										<input name='password' id="password-field" class="form-control" type="password" required>
									</div>
                                    
									
									
								</div>
								{% endif %}
							</form>


								<button type="submit" class="orenge__btn full-width margin20">Save Changes</button>
							</div>
						</div>

					</div>




				</div>
			</div>
		</div>
	</div>







	{% endblock body %}

